In [0]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
import xgboost as xgb

In [0]:
path='drive/My Drive/'
data_train=pd.read_excel(path+'Train_dataset.xlsx',header=0,names=np.arange(28))
data_train=data_train.drop(labels=[0,1,3,4],axis='columns')
data_train.columns=np.arange(24)

In [145]:
data_train.dtypes

0      object
1      object
2     float64
3      object
4      object
5       int64
6       int64
7      object
8       int64
9       int64
10     object
11     object
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18      int64
19      int64
20    float64
21      int64
22    float64
23    float64
dtype: object

In [146]:
data_train.head(5)

       0    1    2              3   ...         20       21   22         23
0  Female  YES  1.0         Farmer  ...  3600000.0  1300000  2.0  49.135010
1  Female  YES  2.0         Farmer  ...  1600000.0   400000  1.0  51.147880
2  Female   NO  1.0        Cleaner  ...  3400000.0   900000  1.0  73.224000
3  Female  YES  1.0         Driver  ...   700000.0  2300000  1.0  48.779225
4  Female   NO  2.0  Manufacturing  ...  3200000.0  1100000  1.0  87.868800

[5 rows x 24 columns]

In [147]:
data_train.isnull().any()

0     False
1     False
2      True
3      True
4      True
5     False
6     False
7      True
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19    False
20     True
21    False
22     True
23    False
dtype: bool

In [0]:
Y_train=data_train.iloc[:,-1].values
X_train=data_train.iloc[:,:-1].values

def pre_process(X_train):

  print(X_train.shape)

  cols=data_train.columns
  cols_num=data_train._get_numeric_data().columns
  cols_cat=list(set(cols)-set(cols_num))
  cols_num=list(set(cols)-set(cols_cat))
  cols_num=cols_num[:-1]
  cols=list(cols)

  imputer_cat=SimpleImputer(strategy="most_frequent")
  X_train[:,cols_cat]=imputer_cat.fit_transform(X_train[:,cols_cat])

  imputer_num=SimpleImputer(strategy="mean")
  X_train[:,cols_num]=imputer_num.fit_transform(X_train[:,cols_num])

  print(X_train[:5,:])

  ct=ColumnTransformer([('encoder',OneHotEncoder(),cols_cat)],remainder='passthrough')
  X_train=ct.fit_transform(X_train)
  print(X_train.shape)

  X_train=X_train.astype(float)
  sc=StandardScaler();
  X_train=sc.fit_transform(X_train)

  return X_train

In [0]:
scorer = make_scorer(mean_squared_error,greater_is_better=False)

In [0]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.svm import SVR

In [0]:
from sklearn.model_selection import cross_val_score
models = [xgb.XGBRegressor(), AdaBoostRegressor(), GradientBoostingRegressor(), RandomForestRegressor(), LinearRegression(), Lasso(), Ridge(), SVR()]

In [0]:
models_score = []
for model in models:
  score = cross_val_score(model, X_train, Y_train, scoring=scorer, cv=5)
  models_score.append(score)
print(models_score)

[08:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:56:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:56:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:56:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[array([-69.10411515, -72.80988885, -88.15994838, -81.07605218,
       -80.04420178]), array([-70.8085118 , -76.94434265, -88.67253557, -83.4878719 ,
       -83.27827821]), array([-68.69639089, -72.09983516, -87.69230534, -80.62977625,
       -80.61269701]), array([-68.56619074, -72.72034971, -87.3072012 , -81.46475996,
       -80.78212474]), array([-71.89964583, -77.81758656, -92.52174653, -83.04224132,
       -85.43798038]), array([-73.83824819, -80.16311817, -98.24989593, -85.47338412,
       -94.24753681]), array([-71.87840416, -77.9761069 , -92.63499228, -83.14781397,
       -85.42528104]), array([-75.60504177, -80.90406919, -88.71971787, -86.75447247,
       -84.99667854])]

In [151]:
X_train = pre_process(X_train)
model_final = RandomForestRegressor().fit(X_train, Y_train)
print(model_final.score(X_train, Y_train))
print(np.sqrt(mean_squared_error(Y_train,model_final.predict(X_train))))

(10714, 23)
[['Female' 'YES' 1.0 'Farmer' 'Public' 2.0 0.0 'Hypertension' 68.0 8.0
  '<400' 'Normal' 441.0 154.0 93.0 233.0 82.0 58.0 27.0 7.0 3600000.0
  1300000.0 2.0]
 ['Female' 'YES' 2.0 'Farmer' 'Walk' 2.0 0.0 'Diabetes' 64.0 15.0 '<100'
  'Stage-02' 278.80626125225047 121.0 56.0 328.0 89.0 68.0 5.0 6.0
  1600000.0 400000.0 1.0]
 ['Female' 'NO' 1.0 'Cleaner' 'Public' 2.0 0.0 'None' 19.0 13.0 '<300'
  'Elevated' 416.0 124.0 137.0 213.0 77.0 43.0 40.0 6.0 3400000.0
  900000.0 1.0]
 ['Female' 'YES' 1.0 'Driver' 'Car' 2.0 0.0 'Coronary Heart Disease' 33.0
  9.0 '<200' 'Stage-01' 410.0 98.0 167.0 275.0 64.0 60.0 27.0 7.0
  700000.0 2300000.0 1.0]
 ['Female' 'NO' 2.0 'Manufacturing' 'Car' 2.0 0.0 'Diabetes' 23.0 7.0
  '<400' 'Normal' 390.0 21.0 153.0 331.0 71.0 64.0 32.0 7.0 3200000.0
  1100000.0 1.0]]
(10714, 44)
0.9053770400691024
3.2834646313427784

In [0]:
data_test=pd.read_excel(path+'Test_dataset.xlsx',header=0,names=np.arange(27))
data_test=data_test.drop(labels=[0,1,3,4],axis='columns')
data_test.columns=np.arange(23)

In [0]:
X_test = data_test.values
X_test = pre_process(X_test)
y_pred = model_final.predict(X_test)

(14498, 23)
[['Female' 'YES' 2.0 'Driver' 'Public' 4.0 1.0 'Diabetes' 52.0 3.0 '<200'
  'Stage-01' 388.0 153.0 196.0 240.0 85.0 53.0 17.0 3.0 3900000.0
  1300000.0 1.0]
 ['Male' 'YES' 2.0 'Legal' 'Walk' 4.0 1.0 'Diabetes' 53.0 11.0 '<200'
  'Stage-01' 409.0 95.0 138.0 241.0 81.0 61.0 2.0 5.0 1800000.0 1300000.0
  1.0]
 ['Female' 'YES' 2.0 'Sales' 'Car' 4.0 1.0 'Diabetes' 35.0 9.0 '<100'
  'Stage-02' 440.0 40.0 166.0 236.0 88.0 47.0 24.0 3.0 5000000.0
  2000000.0 2.0]
 ['Female' 'YES' 2.0 'Sales' 'Car' 4.0 1.0 'None' 31.0 12.0 '<300'
  'Elevated' 206.0 78.0 83.0 211.0 87.0 52.0 13.0 6.0 3100000.0 600000.0
  2.0]
 ['Female' 'YES' 2.0 'Business' 'Car' 4.0 1.0 'Diabetes' 51.0 6.0 '<200'
  'Stage-01' 229.0 109.0 207.0 312.0 94.0 68.0 39.0 5.0 2300000.0
  1500000.0 1.0]]
(14498, 44)

In [0]:
y_pred.shape

(14498,)

In [0]:
print(max(Y_train), min(Y_train))

97.632 29.2896

In [0]:
out_df = pd.DataFrame()
out_df['people_ID'] = pd.read_excel(path+'Test_dataset.xlsx',header=0,names=np.arange(27))[0]
out_df['infect_prob'] = y_pred

In [0]:
out_df.to_csv(path+'infect_prob_20_mar_2020.csv')

In [153]:
xls = pd.ExcelFile(path+'Train_dataset.xlsx')
data_train_1 = pd.read_excel(xls, 'Diuresis_TS')
data_train_1.head(5)

   people_ID  2020-03-20 00:00:00  ...  2020-03-25 00:00:00  2020-03-26 00:00:00
0          1                  441  ...           1215.68992          1472.627904
1          2                  151  ...            492.91072           606.892864
2          3                  416  ...           1150.32832          1395.793984
3          4                  410  ...           1126.78720          1368.344640
4          5                  390  ...           1084.40800          1315.889600

[5 rows x 8 columns]

In [0]:
data_train_1 = data_train_1.values
sc=StandardScaler();
train_dataset = data_train_1[:10000,1:]
#train_dataset=sc.fit_transform(train_dataset)
val_dataset = data_train_1[10000:,1:]
#val_dataset=sc.fit_transform(val_dataset)

In [155]:
print(train_dataset.shape, val_dataset.shape)
print(train_dataset[:5,:])

(10000, 7) (714, 7)
[[ 441.        544.2       669.64      821.368    1002.2416   1215.68992
  1472.627904]
 [ 151.        197.2       253.24      321.688     399.9256    492.91072
   606.892864]
 [ 416.        515.2       632.44      776.728     947.7736   1150.32832
  1395.793984]
 [ 410.        506.        621.4       761.88      928.156    1126.7872
  1368.34464 ]
 [ 390.        483.        595.        730.2       892.84     1084.408
  1315.8896  ]]

In [0]:
X_train1 = np.reshape(train_dataset[:,:6], (10000,6,1))
Y_train1 = train_dataset[:,6]
X_val1 = np.reshape(val_dataset[:,:6], (714,6,1))
Y_val1 = val_dataset[:,6]

In [0]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

BATCH_SIZE = 16
BUFFER_SIZE = 10000

train_univariate = tf.data.Dataset.from_tensor_slices((X_train1, Y_train1))
train_univariate = train_univariate.cache().shuffle(BUFFER_SIZE).batch(BATCH_SIZE).repeat()

val_univariate = tf.data.Dataset.from_tensor_slices((X_val1, Y_val1))
val_univariate = val_univariate.batch(BATCH_SIZE).repeat()

In [158]:
train_univariate

In [0]:
simple_lstm_model = tf.keras.models.Sequential([
    tf.keras.layers.LSTM(units=64,return_sequences = True, input_shape = X_train.shape[-2:]),
    tf.keras.layers.Dropout(0.15), 
    tf.keras.layers.LSTM(units=32,return_sequences=True),
    tf.keras.layers.LSTM(units=32),
    tf.keras.layers.Dense(1)
])

simple_lstm_model.compile(optimizer='adam', loss='mae')

In [142]:
EVALUATION_INTERVAL = 200
EPOCHS = 200

simple_lstm_model.fit(train_univariate, epochs=EPOCHS,
                      steps_per_epoch=EVALUATION_INTERVAL,
                      validation_data=val_univariate, validation_steps=50)

Train for 200 steps, validate for 50 steps
Epoch 1/200
200/200 [==============================] - 3s 13ms/step - loss: 257.8794 - val_loss: 262.0586
Epoch 2/200
200/200 [==============================] - 3s 13ms/step - loss: 250.7688 - val_loss: 262.0369
Epoch 3/200
200/200 [==============================] - 3s 14ms/step - loss: 247.6451 - val_loss: 262.0491
Epoch 4/200
200/200 [==============================] - 3s 13ms/step - loss: 254.0809 - val_loss: 262.0603
Epoch 5/200
200/200 [==============================] - 3s 13ms/step - loss: 253.2633 - val_loss: 262.0570
Epoch 6/200
200/200 [==============================] - 3s 13ms/step - loss: 248.9033 - val_loss: 262.0229
Epoch 7/200
200/200 [==============================] - 3s 14ms/step - loss: 255.2524 - val_loss: 262.0299
Epoch 8/200
200/200 [==============================] - 3s 14ms/step - loss: 252.1823 - val_loss: 262.0361
Epoch 9/200
200/200 [==============================] - 3s 14ms/step - loss: 253.7493 - val_loss: 262.0118
Epoch 10/200
200/200 [==============================] - 3s 14ms/step - loss: 250.0661 - val_loss: 262.0011
Epoch 11/200
200/200 [==============================] - 3s 13ms/step - loss: 252.0516 - val_loss: 261.9871
Epoch 12/200
200/200 [==============================] - 3s 14ms/step - loss: 251.7514 - val_loss: 262.0062
Epoch 13/200
200/200 [==============================] - 3s 14ms/step - loss: 252.4498 - val_loss: 261.9864
Epoch 14/200
200/200 [==============================] - 3s 14ms/step - loss: 256.8676 - val_loss: 261.9895
Epoch 15/200
200/200 [==============================] - 3s 15ms/step - loss: 253.4667 - val_loss: 261.9744
Epoch 16/200
200/200 [==============================] - 3s 14ms/step - loss: 249.6517 - val_loss: 261.9737
Epoch 17/200
200/200 [==============================] - 3s 14ms/step - loss: 252.8020 - val_loss: 261.9537
Epoch 18/200
200/200 [==============================] - 3s 14ms/step - loss: 254.8300 - val_loss: 261.9597
Epoch 19/200
200/200 [==============================] - 3s 14ms/step - loss: 250.1246 - val_loss: 261.9652
Epoch 20/200
200/200 [==============================] - 3s 13ms/step - loss: 248.8497 - val_loss: 261.9703
Epoch 21/200
200/200 [==============================] - 3s 13ms/step - loss: 253.8291 - val_loss: 261.9757
Epoch 22/200
200/200 [==============================] - 3s 13ms/step - loss: 252.8625 - val_loss: 261.9617
Epoch 23/200
200/200 [==============================] - 3s 13ms/step - loss: 254.9300 - val_loss: 261.9739
Epoch 24/200
200/200 [==============================] - 3s 14ms/step - loss: 250.6359 - val_loss: 261.9610
Epoch 25/200
200/200 [==============================] - 3s 13ms/step - loss: 234.5854 - val_loss: 162.4302
Epoch 26/200
200/200 [==============================] - 3s 13ms/step - loss: 153.9421 - val_loss: 171.9392
Epoch 27/200
200/200 [==============================] - 3s 13ms/step - loss: 146.7901 - val_loss: 133.3970
Epoch 28/200
200/200 [==============================] - 3s 13ms/step - loss: 136.1383 - val_loss: 149.8088
Epoch 29/200
200/200 [==============================] - 3s 13ms/step - loss: 133.4963 - val_loss: 127.1863
Epoch 30/200
200/200 [==============================] - 3s 13ms/step - loss: 127.1914 - val_loss: 125.9688
Epoch 31/200
200/200 [==============================] - 3s 13ms/step - loss: 123.2821 - val_loss: 128.5283
Epoch 32/200
200/200 [==============================] - 3s 13ms/step - loss: 119.4685 - val_loss: 124.0932
Epoch 33/200
200/200 [==============================] - 3s 13ms/step - loss: 114.2030 - val_loss: 128.1118
Epoch 34/200
200/200 [==============================] - 3s 13ms/step - loss: 114.5562 - val_loss: 111.5600
Epoch 35/200
200/200 [==============================] - 3s 13ms/step - loss: 110.3469 - val_loss: 119.4578
Epoch 36/200
200/200 [==============================] - 3s 13ms/step - loss: 108.8099 - val_loss: 117.6494
Epoch 37/200
200/200 [==============================] - 3s 13ms/step - loss: 103.7883 - val_loss: 104.2079
Epoch 38/200
200/200 [==============================] - 3s 13ms/step - loss: 101.2186 - val_loss: 100.8306
Epoch 39/200
200/200 [==============================] - 3s 13ms/step - loss: 99.4923 - val_loss: 104.3022
Epoch 40/200
200/200 [==============================] - 3s 13ms/step - loss: 99.1082 - val_loss: 103.8325
Epoch 41/200
200/200 [==============================] - 3s 13ms/step - loss: 99.0876 - val_loss: 109.0554
Epoch 42/200
200/200 [==============================] - 3s 13ms/step - loss: 91.9335 - val_loss: 97.3909
Epoch 43/200
200/200 [==============================] - 3s 13ms/step - loss: 93.1438 - val_loss: 92.3847
Epoch 44/200
200/200 [==============================] - 3s 13ms/step - loss: 84.0653 - val_loss: 93.6864
Epoch 45/200
200/200 [==============================] - 3s 14ms/step - loss: 84.1065 - val_loss: 88.6724
Epoch 46/200
200/200 [==============================] - 3s 14ms/step - loss: 85.2184 - val_loss: 101.9875
Epoch 47/200
200/200 [==============================] - 3s 13ms/step - loss: 88.6229 - val_loss: 87.0107
Epoch 48/200
200/200 [==============================] - 3s 13ms/step - loss: 81.0117 - val_loss: 86.5102
Epoch 49/200
200/200 [==============================] - 3s 13ms/step - loss: 81.1081 - val_loss: 87.3053
Epoch 50/200
200/200 [==============================] - 3s 13ms/step - loss: 78.2426 - val_loss: 84.7862
Epoch 51/200
200/200 [==============================] - 3s 13ms/step - loss: 73.8804 - val_loss: 87.4401
Epoch 52/200
200/200 [==============================] - 3s 13ms/step - loss: 76.5197 - val_loss: 79.7929
Epoch 53/200
200/200 [==============================] - 3s 13ms/step - loss: 74.2477 - val_loss: 81.7573
Epoch 54/200
200/200 [==============================] - 3s 13ms/step - loss: 72.7306 - val_loss: 78.5538
Epoch 55/200
200/200 [==============================] - 3s 13ms/step - loss: 71.0249 - val_loss: 72.7550
Epoch 56/200
200/200 [==============================] - 3s 13ms/step - loss: 69.1946 - val_loss: 69.6374
Epoch 57/200
200/200 [==============================] - 3s 13ms/step - loss: 65.5745 - val_loss: 69.9809
Epoch 58/200
200/200 [==============================] - 3s 13ms/step - loss: 67.0396 - val_loss: 67.7662
Epoch 59/200
200/200 [==============================] - 3s 13ms/step - loss: 63.7163 - val_loss: 64.9292
Epoch 60/200
200/200 [==============================] - 3s 13ms/step - loss: 65.3620 - val_loss: 65.7299
Epoch 61/200
200/200 [==============================] - 3s 13ms/step - loss: 63.0773 - val_loss: 63.1443
Epoch 62/200
200/200 [==============================] - 3s 13ms/step - loss: 59.1444 - val_loss: 66.8716
Epoch 63/200
200/200 [==============================] - 3s 13ms/step - loss: 58.1435 - val_loss: 60.7476
Epoch 64/200
200/200 [==============================] - 3s 13ms/step - loss: 58.2571 - val_loss: 58.9274
Epoch 65/200
200/200 [==============================] - 3s 13ms/step - loss: 57.9508 - val_loss: 60.3921
Epoch 66/200
200/200 [==============================] - 3s 13ms/step - loss: 53.5095 - val_loss: 58.2458
Epoch 67/200
200/200 [==============================] - 3s 13ms/step - loss: 54.7102 - val_loss: 57.5465
Epoch 68/200
200/200 [==============================] - 3s 13ms/step - loss: 52.8986 - val_loss: 67.0446
Epoch 69/200
200/200 [==============================] - 3s 14ms/step - loss: 52.8998 - val_loss: 61.4710
Epoch 70/200
200/200 [==============================] - 3s 14ms/step - loss: 51.8811 - val_loss: 64.4238
Epoch 71/200
200/200 [==============================] - 3s 14ms/step - loss: 52.3007 - val_loss: 55.6390
Epoch 72/200
200/200 [==============================] - 3s 14ms/step - loss: 50.1335 - val_loss: 58.1888
Epoch 73/200
200/200 [==============================] - 3s 14ms/step - loss: 48.5875 - val_loss: 64.8178
Epoch 74/200
200/200 [==============================] - 3s 13ms/step - loss: 45.4012 - val_loss: 52.1065
Epoch 75/200
200/200 [==============================] - 2s 12ms/step - loss: 45.5460 - val_loss: 50.6786
Epoch 76/200
200/200 [==============================] - 3s 13ms/step - loss: 44.2424 - val_loss: 52.9809
Epoch 77/200
200/200 [==============================] - 3s 13ms/step - loss: 43.3092 - val_loss: 45.1519
Epoch 78/200
200/200 [==============================] - 3s 13ms/step - loss: 44.2955 - val_loss: 46.4415
Epoch 79/200
200/200 [==============================] - 2s 12ms/step - loss: 42.3818 - val_loss: 50.7112
Epoch 80/200
200/200 [==============================] - 3s 13ms/step - loss: 42.8186 - val_loss: 62.2164
Epoch 81/200
200/200 [==============================] - 3s 13ms/step - loss: 39.8888 - val_loss: 48.3289
Epoch 82/200
200/200 [==============================] - 3s 13ms/step - loss: 41.0654 - val_loss: 48.3866
Epoch 83/200
200/200 [==============================] - 3s 13ms/step - loss: 37.7818 - val_loss: 40.4516
Epoch 84/200
200/200 [==============================] - 3s 13ms/step - loss: 37.7632 - val_loss: 47.2195
Epoch 85/200
200/200 [==============================] - 3s 13ms/step - loss: 37.5512 - val_loss: 37.6990
Epoch 86/200
200/200 [==============================] - 3s 13ms/step - loss: 36.9408 - val_loss: 40.1854
Epoch 87/200
200/200 [==============================] - 3s 13ms/step - loss: 35.2002 - val_loss: 36.8059
Epoch 88/200
200/200 [==============================] - 3s 13ms/step - loss: 34.9513 - val_loss: 36.3104
Epoch 89/200
200/200 [==============================] - 3s 13ms/step - loss: 34.7445 - val_loss: 44.8622
Epoch 90/200
200/200 [==============================] - 3s 13ms/step - loss: 34.0589 - val_loss: 42.6829
Epoch 91/200
200/200 [==============================] - 3s 13ms/step - loss: 32.8873 - val_loss: 43.8623
Epoch 92/200
200/200 [==============================] - 3s 13ms/step - loss: 31.3155 - val_loss: 39.6826
Epoch 93/200
200/200 [==============================] - 3s 13ms/step - loss: 31.4087 - val_loss: 38.5175
Epoch 94/200
200/200 [==============================] - 3s 13ms/step - loss: 33.4931 - val_loss: 31.0202
Epoch 95/200
200/200 [==============================] - 3s 14ms/step - loss: 30.5673 - val_loss: 40.7459
Epoch 96/200
200/200 [==============================] - 3s 14ms/step - loss: 31.5981 - val_loss: 49.5115
Epoch 97/200
200/200 [==============================] - 3s 13ms/step - loss: 29.9592 - val_loss: 38.6548
Epoch 98/200
200/200 [==============================] - 3s 13ms/step - loss: 29.9482 - val_loss: 30.4545
Epoch 99/200
200/200 [==============================] - 3s 13ms/step - loss: 28.7399 - val_loss: 38.8227
Epoch 100/200
200/200 [==============================] - 3s 13ms/step - loss: 27.5372 - val_loss: 30.5234
Epoch 101/200
200/200 [==============================] - 3s 14ms/step - loss: 28.7408 - val_loss: 26.7585
Epoch 102/200
200/200 [==============================] - 3s 13ms/step - loss: 26.3477 - val_loss: 39.7931
Epoch 103/200
200/200 [==============================] - 3s 13ms/step - loss: 25.8181 - val_loss: 39.0395
Epoch 104/200
200/200 [==============================] - 3s 13ms/step - loss: 26.3619 - val_loss: 43.0634
Epoch 105/200
200/200 [==============================] - 3s 13ms/step - loss: 26.4166 - val_loss: 36.6468
Epoch 106/200
200/200 [==============================] - 3s 13ms/step - loss: 25.8410 - val_loss: 29.8112
Epoch 107/200
200/200 [==============================] - 3s 13ms/step - loss: 24.5077 - val_loss: 28.0053
Epoch 108/200
200/200 [==============================] - 2s 12ms/step - loss: 25.9951 - val_loss: 24.5606
Epoch 109/200
200/200 [==============================] - 2s 12ms/step - loss: 23.2369 - val_loss: 23.4041
Epoch 110/200
200/200 [==============================] - 2s 12ms/step - loss: 24.0076 - val_loss: 24.5215
Epoch 111/200
200/200 [==============================] - 2s 12ms/step - loss: 22.3719 - val_loss: 29.3415
Epoch 112/200
200/200 [==============================] - 2s 12ms/step - loss: 23.2174 - val_loss: 32.6919
Epoch 113/200
200/200 [==============================] - 2s 12ms/step - loss: 22.8149 - val_loss: 27.1188
Epoch 114/200
200/200 [==============================] - 2s 12ms/step - loss: 22.3959 - val_loss: 31.1316
Epoch 115/200
200/200 [==============================] - 3s 13ms/step - loss: 23.4250 - val_loss: 24.6150
Epoch 116/200
200/200 [==============================] - 2s 12ms/step - loss: 21.0737 - val_loss: 21.2570
Epoch 117/200
200/200 [==============================] - 2s 12ms/step - loss: 20.3440 - val_loss: 26.5452
Epoch 118/200
200/200 [==============================] - 2s 12ms/step - loss: 21.2809 - val_loss: 25.9776
Epoch 119/200
200/200 [==============================] - 2s 12ms/step - loss: 20.3723 - val_loss: 31.2068
Epoch 120/200
200/200 [==============================] - 3s 13ms/step - loss: 20.1826 - val_loss: 34.4419
Epoch 121/200
200/200 [==============================] - 2s 12ms/step - loss: 19.7705 - val_loss: 21.4666
Epoch 122/200
200/200 [==============================] - 2s 12ms/step - loss: 19.3079 - val_loss: 23.7622
Epoch 123/200
200/200 [==============================] - 3s 13ms/step - loss: 19.8366 - val_loss: 32.0448
Epoch 124/200
200/200 [==============================] - 3s 13ms/step - loss: 18.5346 - val_loss: 23.1667
Epoch 125/200
200/200 [==============================] - 3s 13ms/step - loss: 17.2358 - val_loss: 30.6778
Epoch 126/200
200/200 [==============================] - 3s 13ms/step - loss: 18.9081 - val_loss: 21.3729
Epoch 127/200
200/200 [==============================] - 2s 12ms/step - loss: 17.9459 - val_loss: 20.0065
Epoch 128/200
200/200 [==============================] - 2s 12ms/step - loss: 17.1646 - val_loss: 19.6204
Epoch 129/200
200/200 [==============================] - 3s 13ms/step - loss: 16.8301 - val_loss: 17.8709
Epoch 130/200
200/200 [==============================] - 2s 12ms/step - loss: 17.0268 - val_loss: 18.7009
Epoch 131/200
200/200 [==============================] - 2s 12ms/step - loss: 16.1204 - val_loss: 20.5772
Epoch 132/200
200/200 [==============================] - 2s 12ms/step - loss: 17.8886 - val_loss: 17.8427
Epoch 133/200
200/200 [==============================] - 3s 13ms/step - loss: 16.6034 - val_loss: 17.8110
Epoch 134/200
200/200 [==============================] - 3s 13ms/step - loss: 16.9865 - val_loss: 18.6528
Epoch 135/200
200/200 [==============================] - 3s 13ms/step - loss: 15.5917 - val_loss: 20.5720
Epoch 136/200
200/200 [==============================] - 3s 13ms/step - loss: 14.9056 - val_loss: 16.7165
Epoch 137/200
200/200 [==============================] - 3s 13ms/step - loss: 16.0337 - val_loss: 26.5041
Epoch 138/200
200/200 [==============================] - 3s 13ms/step - loss: 14.5242 - val_loss: 18.0470
Epoch 139/200
200/200 [==============================] - 3s 13ms/step - loss: 15.5343 - val_loss: 17.7993
Epoch 140/200
200/200 [==============================] - 3s 13ms/step - loss: 14.9306 - val_loss: 19.4838
Epoch 141/200
200/200 [==============================] - 3s 13ms/step - loss: 15.9689 - val_loss: 16.4617
Epoch 142/200
200/200 [==============================] - 3s 13ms/step - loss: 15.9365 - val_loss: 21.2650
Epoch 143/200
200/200 [==============================] - 3s 13ms/step - loss: 14.5883 - val_loss: 17.5978
Epoch 144/200
200/200 [==============================] - 3s 13ms/step - loss: 14.8806 - val_loss: 24.0092
Epoch 145/200
200/200 [==============================] - 3s 13ms/step - loss: 14.0238 - val_loss: 12.1487
Epoch 146/200
200/200 [==============================] - 3s 13ms/step - loss: 14.6583 - val_loss: 15.6873
Epoch 147/200
200/200 [==============================] - 3s 13ms/step - loss: 14.4392 - val_loss: 19.7964
Epoch 148/200
200/200 [==============================] - 3s 13ms/step - loss: 13.7166 - val_loss: 13.4495
Epoch 149/200
200/200 [==============================] - 3s 13ms/step - loss: 13.6212 - val_loss: 24.0483
Epoch 150/200
200/200 [==============================] - 3s 14ms/step - loss: 13.6422 - val_loss: 20.8437
Epoch 151/200
200/200 [==============================] - 3s 13ms/step - loss: 12.5123 - val_loss: 16.6248
Epoch 152/200
200/200 [==============================] - 3s 13ms/step - loss: 13.1880 - val_loss: 15.7036
Epoch 153/200
200/200 [==============================] - 3s 14ms/step - loss: 13.1830 - val_loss: 14.1818
Epoch 154/200
200/200 [==============================] - 3s 14ms/step - loss: 12.7306 - val_loss: 12.5957
Epoch 155/200
200/200 [==============================] - 3s 13ms/step - loss: 12.3268 - val_loss: 11.2412
Epoch 156/200
200/200 [==============================] - 3s 13ms/step - loss: 12.1810 - val_loss: 24.5787
Epoch 157/200
200/200 [==============================] - 3s 13ms/step - loss: 12.5343 - val_loss: 15.5266
Epoch 158/200
200/200 [==============================] - 3s 13ms/step - loss: 12.4367 - val_loss: 13.5838
Epoch 159/200
200/200 [==============================] - 3s 13ms/step - loss: 12.4041 - val_loss: 15.4289
Epoch 160/200
200/200 [==============================] - 3s 13ms/step - loss: 12.8546 - val_loss: 15.7585
Epoch 161/200
200/200 [==============================] - 3s 13ms/step - loss: 11.1921 - val_loss: 13.5857
Epoch 162/200
200/200 [==============================] - 3s 13ms/step - loss: 12.3485 - val_loss: 17.3648
Epoch 163/200
200/200 [==============================] - 3s 14ms/step - loss: 11.3237 - val_loss: 9.5304
Epoch 164/200
200/200 [==============================] - 3s 13ms/step - loss: 10.2901 - val_loss: 14.0768
Epoch 165/200
200/200 [==============================] - 3s 13ms/step - loss: 11.7738 - val_loss: 17.1825
Epoch 166/200
200/200 [==============================] - 3s 13ms/step - loss: 11.2839 - val_loss: 9.9128
Epoch 167/200
200/200 [==============================] - 3s 13ms/step - loss: 10.5987 - val_loss: 14.1887
Epoch 168/200
200/200 [==============================] - 3s 13ms/step - loss: 11.2298 - val_loss: 10.6014
Epoch 169/200
200/200 [==============================] - 3s 13ms/step - loss: 10.9142 - val_loss: 13.4778
Epoch 170/200
200/200 [==============================] - 2s 12ms/step - loss: 11.1167 - val_loss: 17.2549
Epoch 171/200
200/200 [==============================] - 2s 12ms/step - loss: 11.8787 - val_loss: 18.7585
Epoch 172/200
200/200 [==============================] - 2s 12ms/step - loss: 11.4064 - val_loss: 13.1083
Epoch 173/200
200/200 [==============================] - 3s 13ms/step - loss: 11.8187 - val_loss: 23.0680
Epoch 174/200
200/200 [==============================] - 3s 13ms/step - loss: 9.8087 - val_loss: 11.3977
Epoch 175/200
200/200 [==============================] - 3s 13ms/step - loss: 10.6983 - val_loss: 21.5755
Epoch 176/200
200/200 [==============================] - 3s 13ms/step - loss: 10.7954 - val_loss: 14.8635
Epoch 177/200
200/200 [==============================] - 3s 13ms/step - loss: 9.5431 - val_loss: 19.6062
Epoch 178/200
200/200 [==============================] - 3s 13ms/step - loss: 9.9568 - val_loss: 18.7364
Epoch 179/200
200/200 [==============================] - 3s 13ms/step - loss: 10.8565 - val_loss: 30.9237
Epoch 180/200
200/200 [==============================] - 3s 13ms/step - loss: 11.6144 - val_loss: 12.3942
Epoch 181/200
200/200 [==============================] - 3s 13ms/step - loss: 8.9311 - val_loss: 16.7958
Epoch 182/200
200/200 [==============================] - 3s 13ms/step - loss: 10.3837 - val_loss: 15.7709
Epoch 183/200
200/200 [==============================] - 3s 13ms/step - loss: 10.1398 - val_loss: 17.3543
Epoch 184/200
200/200 [==============================] - 3s 13ms/step - loss: 9.7226 - val_loss: 12.2499
Epoch 185/200
200/200 [==============================] - 3s 13ms/step - loss: 9.5233 - val_loss: 15.6322
Epoch 186/200
200/200 [==============================] - 3s 13ms/step - loss: 9.8125 - val_loss: 11.3294
Epoch 187/200
200/200 [==============================] - 3s 13ms/step - loss: 9.7717 - val_loss: 11.4351
Epoch 188/200
200/200 [==============================] - 3s 13ms/step - loss: 9.8089 - val_loss: 12.5412
Epoch 189/200

In [0]:
y_pred = simple_lstm_model.predict(np.array(X_train1[:,:6,:]))

In [160]:
y_pred.shape

(10000, 1)

In [162]:
np.sqrt(mean_squared_error(y_pred, Y_train1))

18.047847571498416

In [168]:
data_train_1.shape

(10714, 8)

In [0]:
y_pred1 = simple_lstm_model.predict(np.array(np.reshape(data_train_1[:,2:], (10714,6,1))))

In [171]:
y_pred1[:20]

array([[1428.6642 ],
       [ 735.49207],
       [1428.6626 ],
       [1428.6616 ],
       [1428.6545 ],
       [1428.6521 ],
       [1328.4786 ],
       [ 867.361  ],
       [1280.5012 ],
       [1035.2844 ],
       [1428.6149 ],
       [ 867.1195 ],
       [1428.6602 ],
       [ 611.83496],
       [1428.6453 ],
       [1035.953  ],
       [ 886.3091 ],
       [ 834.9343 ],
       [ 836.9475 ],
       [ 971.86053]], dtype=float32)

In [0]:
data_train=pd.read_excel(path+'Train_dataset.xlsx',header=0,names=np.arange(28))
people_id = data_train[0]
data_train=data_train.drop(labels=[0,1,3,4],axis='columns')
data_train.columns=np.arange(24)

In [186]:
data_train.head(5)

       0    1    2              3   ...         20       21   22         23
0  Female  YES  1.0         Farmer  ...  3600000.0  1300000  2.0  49.135010
1  Female  YES  2.0         Farmer  ...  1600000.0   400000  1.0  51.147880
2  Female   NO  1.0        Cleaner  ...  3400000.0   900000  1.0  73.224000
3  Female  YES  1.0         Driver  ...   700000.0  2300000  1.0  48.779225
4  Female   NO  2.0  Manufacturing  ...  3200000.0  1100000  1.0  87.868800

[5 rows x 24 columns]

In [189]:
people_id

0            1
1            2
2            3
3            4
4            5
         ...
10709    22691
10710    22692
10711    22693
10712    22694
10713    22695
Name: 0, Length: 10714, dtype: int64

In [0]:
data_train[12]=y_pred1

In [188]:
data_train.head(5)

       0    1    2              3   ...         20       21   22         23
0  Female  YES  1.0         Farmer  ...  3600000.0  1300000  2.0  49.135010
1  Female  YES  2.0         Farmer  ...  1600000.0   400000  1.0  51.147880
2  Female   NO  1.0        Cleaner  ...  3400000.0   900000  1.0  73.224000
3  Female  YES  1.0         Driver  ...   700000.0  2300000  1.0  48.779225
4  Female   NO  2.0  Manufacturing  ...  3200000.0  1100000  1.0  87.868800

[5 rows x 24 columns]

In [0]:
data_test=data_train.iloc[:,:-1].values

In [194]:
X_test = data_test
X_test = pre_process(X_test)

(10714, 23)
[['Female' 'YES' 1.0 'Farmer' 'Public' 2.0 0.0 'Hypertension' 68.0 8.0
  '<400' 'Normal' 1428.6641845703125 154.0 93.0 233.0 82.0 58.0 27.0 7.0
  3600000.0 1300000.0 2.0]
 ['Female' 'YES' 2.0 'Farmer' 'Walk' 2.0 0.0 'Diabetes' 64.0 15.0 '<100'
  'Stage-02' 735.4920654296875 121.0 56.0 328.0 89.0 68.0 5.0 6.0
  1600000.0 400000.0 1.0]
 ['Female' 'NO' 1.0 'Cleaner' 'Public' 2.0 0.0 'None' 19.0 13.0 '<300'
  'Elevated' 1428.66259765625 124.0 137.0 213.0 77.0 43.0 40.0 6.0
  3400000.0 900000.0 1.0]
 ['Female' 'YES' 1.0 'Driver' 'Car' 2.0 0.0 'Coronary Heart Disease' 33.0
  9.0 '<200' 'Stage-01' 1428.66162109375 98.0 167.0 275.0 64.0 60.0 27.0
  7.0 700000.0 2300000.0 1.0]
 ['Female' 'NO' 2.0 'Manufacturing' 'Car' 2.0 0.0 'Diabetes' 23.0 7.0
  '<400' 'Normal' 1428.654541015625 21.0 153.0 331.0 71.0 64.0 32.0 7.0
  3200000.0 1100000.0 1.0]]
(10714, 44)

In [0]:
y_pred2 = model_final.predict(X_test)

In [196]:
print(max(y_pred2),min(y_pred2))

89.55783359999987 38.27174400000004

In [0]:
out_df1 = pd.DataFrame()
out_df1['people_ID'] = people_id
out_df1['infect_prob'] = y_pred2

In [198]:
out_df1.head(5)

   people_ID  infect_prob
0          1    49.074164
1          2    51.093959
2          3    69.738538
3          4    48.916100
4          5    79.814160

In [0]:
out_df1.to_csv(path+'infect_prob_27_mar_2020.csv')